* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Caveat", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header section style */

.header-main {
  display: flex;
  background-color: rgba(229, 84, 115, 0.1);
}
.header-section {
  width: 1045px;
  padding-left: 240px;
  padding-top: 200px;
}
.header-title {
  color: #272727;
  font-size: 80px;
  width: 708px;
  margin-bottom: 32px;
}
.header-description {
  color: #272727;
  font-size: 18px;
  width: 634px;
  margin-bottom: 32px;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
}
.header-picture {
  width: 635px;
  padding-top: 50px;
  padding-right: 240px;
  padding-bottom: 0;
}
